<h1>Welcome <%= @user.name %></h1>

<p><%= @user.email %></p>

<%= button_to "Edit account", edit_user_path(@user), method: :get %>

<%= button_to "Create a Gnarlie", new_gnarly_path, method: :get %>

<hr>

<% @gnarlies.each do |g| %>
  <div class="gnarlie">
    <img src="<%= g.image_uri %>" width="350">
    <h3><%= g.text %></h3>
    <%= link_to " X ", gnarly_path(g), method: :delete %>
  </div>
<% end %>

