<div class="text-center">
<h1>Welcome <%= @user.name %></h1>

<p><%= @user.email %></p>

<%= button_to "Edit account", edit_user_path(@user), method: :get %>
<br>
<%= button_to "Create a Gnarly", new_gnarly_path, method: :get %>
</div>
<br>

<% @gnarlies.each do |g| %>
  <div class="gnarlie">
    <img src="<%= g.image_uri %>" width="350">
    <h3><%= g.text %></h3>
    <%= link_to " X ", gnarly_path(g), method: :delete %>
  </div>
  <br>
<% end %>

