<h1>Gnarly Homepage</h1>
<% @gnarlies.each do |g| %>

  <div class="gnarlie">
    <h3><span><%= g.user.username %></span></h3>
    <img src="<%= g.image_uri %>" width="350">
    <h3><%= g.text %></h3>
    <%= link_to like_path(g) do %>
      <span class="glyphicon glyphicon-flash btn btn-xs btn-default"></span>
    <% end %>
    <span class="likes">&nbsp;&nbsp;<%= g.likes %></span>
  </div>
<% end %>
