<section class="gnarly-pic">
  <%= form_for @gnarlie do |f| %>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_field :text %>
    </div>
    <div class="field">
      <%= f.label :image_uri %>
      <%= f.text_field :image_uri %>
    </div>

    <div class="actions"><%= f.submit "Rad!" %></div>
  <% end %>
</section>
