<div class="container">
<div class="form-signin">
<section class="gnarly-pic">
  <%= form_for @gnarlie do |f| %>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_field :text, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :image_uri %>
      <%= f.text_field :image_uri, class: 'form-control' %>
    </div>
    <br>
    <div class="actions"><%= f.submit "Rad!" %></div>
  <% end %>
</section>
</div>
</div>
