new.html.erb

<h3>Create a Gnarlie</h3>

<%= form_for [@user, Gnarlie.new] do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :image_uri %>
    <%= f.text_field :image_uri %>
  </div>



  <div class="actions"><%= f.submit %></div>
<% end %>

<% if @gnarlie && @gnarlie.errors %>
  <p>Your gnarlie failed:</p>
  <ul>
    <% @gnarlie.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
