<!DOCTYPE html>
<html>
<head>
  <title>Gnarly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <%= link_to "Home", root_path, :class=>"btn btn-primary" %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% if current_user %>
        <%= link_to "Profile", user_path(current_user), :class=>"btn btn-primary" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log out of account', session_path('FU'), :class=>"btn btn-primary", method: :delete %>
      <% else %>
        <%= link_to "Create an account", new_user_path, :class=>"btn btn-primary" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Log in to account", new_session_path, :class=>"btn btn-primary" %>
      <% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
